<?xml version="1.0" encoding="UTF-8"?>

<!--
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  - JASMINe
  - Copyright (C) 2008 Bull S.A.S.
  - Contact: jasmine@ow2.org
  -
  - This library is free software; you can redistribute it and/or
  - modify it under the terms of the GNU Lesser General Public
  - License as published by the Free Software Foundation; either
  - version 2.1 of the License, or any later version.
  -
  - This library is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  - Lesser General Public License for more details.
  -
  - You should have received a copy of the GNU Lesser General Public
  - License along with this library; if not, write to the Free Software
  - Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
  - USA
  -
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  - $Id: web.xml 2510 2008-10-02 10:02:54Z renaultgu $
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>GraniteDS Pojo</display-name>
  <description>GraniteDS Pojo Application</description>


  <!-- Granite config context listener -->
  <listener>
    <listener-class>
      org.granite.config.GraniteConfigListener
    </listener-class>
  </listener>

  <filter>
    <filter-name>AMFMessageFilter</filter-name>
    <filter-class>
      org.granite.messaging.webapp.AMFMessageFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AMFMessageFilter</filter-name>
    <url-pattern>/graniteamf/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>AMFMessageServlet</servlet-name>
    <servlet-class>
      org.granite.messaging.webapp.AMFMessageServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>AMFMessageServlet</servlet-name>
    <url-pattern>/graniteamf/*</url-pattern>
  </servlet-mapping>

  <servlet>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>
      org.ow2.jasmine.kerneos.login.LogoutServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>Kerneos.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
    <display-name>Kerneos Authentication</display-name>
    <!-- secured pages -->
    <web-resource-collection>
      <web-resource-name>Secured pages</web-resource-name>
      <url-pattern>/*</url-pattern>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <!-- allowed roles -->
    <auth-constraint>
      <role-name>tomcat</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <!-- Authentication type -->
    <auth-method>BASIC</auth-method>
    <realm-name>Espace Membres</realm-name>
  </login-config>

  <!-- Used roles -->
  <security-role>
    <description>Administrateur</description>
    <role-name>tomcat</role-name>
  </security-role>

</web-app>
