Application
{
   background-gradient-colors:	#FFFFFF, #777777;
   color: 						#000000;
   theme-color: #777777;
   /*background-image: 			Embed(source="./application_background.png",
								scaleGridTop="94", scaleGridBottom="791", scaleGridLeft="350", scaleGridRight="690");*/
}

ModuleWindow {
    title-style-name: moduleWindowTitle;
    dropShadowEnabled: true;
    dropShadowColor: #000000;
    borderColor: #777777;
    borderAlpha: 1;
    borderThicknessLeft: 3;
    borderThicknessTop: 0;
    borderThicknessBottom: 3;
    borderThicknessRight: 3;
    rounded-bottom-corners: true;
    header-height: 24px;
    cornerRadius: 3;
    backgroundColor: #CCCCCC;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    minimize-btn-style-name: moduleWindowMinimizeButton;
    maximize-btn-style-name: moduleWindowMaximizeButton;
    close-btn-style-name: moduleWindowCloseButton;
    restore-btn-style-name: moduleWindowRestoreButton;
    style-name-no-focus: noFocusModuleWindow;
    style-name-focus: focusModuleWindow;
}

.focusModuleWindow {
    background-alpha: 1;
    border-alpha: 1;
}

.noFocusModuleWindow {
    background-alpha: 0.90;
    border-alpha: 0.70;
}

.moduleWindowTitle {
    font-weight: bold;
    font-size: 13px;
    color: #FEFEFE;
    drop-shadow-enabled: true;
    drop-shadow-color: #FF0000;
    title-style-name-no-focus: moduleWindowTitleNoFocus;
}

.moduleWindowTitleNoFocus {
    font-weight: bold;   
}

.moduleWindowMinimizeButton {
    upSkin: Embed(source="minimize_up.png");
    overSkin: Embed(source="minimize_over.png");
    downSkin: Embed(source="minimize_up.png");
}

.moduleWindowMaximizeButton {
    upSkin: Embed(source="maximize_up.png");
    overSkin: Embed(source="maximize_over.png");
    downSkin: Embed(source="maximize_up.png");}

.moduleWindowCloseButton {
    upSkin: Embed(source="close_up.png");
    overSkin: Embed(source="close_over.png");
    downSkin: Embed(source="close_up.png");
}

.moduleWindowRestoreButton {
    upSkin: Embed(source="restore_up.png");
    overSkin: Embed(source="restore_over.png");
    downSkin: Embed(source="restore_up.png");
}

.moduleName{
    font-weight: bold;
    font-size: 14px;
}

.moduleDescription{
    font-size: 11px;
}

.consoleMark1{
	font-size: 48px;
	color: #EFEFEF;
}

.consoleMark2{
    font-size: 48px;
    font-style: italic;
    color: #FFFFFF;
}

.maximizeRestoreButton
{
	up-skin:        	Embed("./maximize_up.png");
	over-skin:      	Embed("./maximize_over.png");
	down-skin:      	Embed("./maximize_up.png");
	selected-up-skin:   Embed("./restore_up.png");
	selected-over-skin: Embed("./restore_over.png");
	selected-down-skin: Embed("./restore_up.png");
}

.minimizeButton
{
	up-skin:        Embed("./minimize_up.png");
	over-skin:      Embed("./minimize_over.png");
	down-skin:      Embed("./minimize_up.png");
}

MinimizedModuleWindow {
    corner-radius: 2;
    drop-shadow-enabled: true;
    
}

TabBar
{
	selected-tab-text-style-name: 	tabBarButtonSelected;
	tab-style-name: 				tabBarButton;
}

.tabBarButton
{
	up-skin:        		Embed("./tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
	over-skin:        		Embed("./tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
	down-skin:        		Embed("./tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
	selected-up-skin:		Embed("./tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
	selected-over-skin:		Embed("./tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
	selected-down-skin:		Embed("./tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
	color: 					#333333;
	text-roll-over-color:	#858585;
	font-size:				12px;
	font-family:			arial;
	text-align:				left;
	padding-left:			10px;
	padding-right:			20px;
	padding-top:			-4px;
}

.tabBarButtonSelected
{
	text-roll-over-color:	#003399;
	color:					#003399;
}

Pod
{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	rounded-bottom-corners: false;
	border-thickness: 1px;
	border-style: solid;
	border-color: #999999;
	header-colors: #cccccc, #999999;
	highlight-alphas: .9, 0;
	background-color: #ffffff;
	corner-radius: 6px;
	header-height: 22px;
	shadow-direction: right;
	drop-shadow-color: #999999;
}

.podTitle
{
	font-size: 11px;
	font-family: arial;
	font-weight: bold;
}

DragHighlight
{
	border-color: #CCCCCC;
	border-thickness: 3px;
	border-style: solid;
	background-color: #F3F3F3;
}

.leftArrowButton
{
	up-skin:		Embed("./left_arrow_up.gif");
	over-skin:		Embed("./left_arrow_over.gif");
	down-skin:		Embed("./left_arrow_up.gif");
	disabled-skin:	Embed("./left_arrow_disabled.gif");
}

.rightArrowButton
{
	up-skin:		Embed("./right_arrow_up.gif");
	over-skin:		Embed("./right_arrow_over.gif");
	down-skin:		Embed("./right_arrow_up.gif");
	disabled-skin:	Embed("./right_arrow_disabled.gif");
}