Application
{
   background-gradient-colors:    #ffffff, #ffffff;
   color:                         #000000;
   background-image:             Embed(source= "application_background.png",
                                scaleGridTop="94", scaleGridBottom="791", scaleGridLeft="350", scaleGridRight="690");
}

.maximizeRestoreButton
{
    up-skin:            Embed("maximize_up.png");
    over-skin:          Embed("maximize_over.png");
    down-skin:          Embed("maximize_up.png");
    selected-up-skin:   Embed("restore_up.png");
    selected-over-skin: Embed("restore_over.png");
    selected-down-skin: Embed("restore_up.png");
}

.minimizeButton
{
    up-skin:        Embed("minimize_up.png");
    over-skin:      Embed("minimize_over.png");
    down-skin:      Embed("minimize_up.png");
}

TabBar
{
    selected-tab-text-style-name:     tabBarButtonSelected;
    tab-style-name:                 tabBarButton;
}

.tabBarButton
{
    up-skin:                Embed("tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
    over-skin:                Embed("tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
    down-skin:                Embed("tab_up.png", scaleGridTop="11", scaleGridBottom="30", scaleGridLeft="10", scaleGridRight="92");
    selected-up-skin:        Embed("tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
    selected-over-skin:        Embed("tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
    selected-down-skin:        Embed("tab_selected.png", scaleGridTop="13", scaleGridBottom="31", scaleGridLeft="9", scaleGridRight="91");
    color:                     #333333;
    text-roll-over-color:    #858585;
    font-size:                12px;
    font-family:            arial;
    text-align:                left;
    padding-left:            10px;
    padding-right:            20px;
    padding-top:            -4px;
}

.tabBarButtonSelected
{
    text-roll-over-color:    #003399;
    color:                    #003399;
}

.leftArrowButton
{
    up-skin:        Embed("left_arrow_up.gif");
    over-skin:        Embed("left_arrow_over.gif");
    down-skin:        Embed("left_arrow_up.gif");
    disabled-skin:    Embed("left_arrow_disabled.gif");
}

.rightArrowButton
{
    up-skin:        Embed("right_arrow_up.gif");
    over-skin:        Embed("right_arrow_over.gif");
    down-skin:        Embed("right_arrow_up.gif");
    disabled-skin:    Embed("right_arrow_disabled.gif");
}